.button-group > .button-in-group {
    -fx-background-radius: 0px, 0px, 0px, 0px;
}
.button-group > .button-in-group.first-in-group {
    -fx-background-radius: 3px 0px 0px 3px,   3px 0px 0px 3px,   2px 0px 0px 2px,   1px 0px 0px 1px;
}
.button-group > .button-in-group.last-in-group {
    -fx-background-radius: 0px 3px 3px 0px,   0px 3px 3px 0px,   0px 2px 2px 0px,   0px 1px 1px 0px;
}

/** Used by TabPane.hideTabs to hide the tabs (usually when there's only one tab open */
.tab-pane.hideTabs {
    -fx-tab-max-height: 0;
    -fx-tab-min-height: 0;
}

.tab-pane:top.hideTabs > .tab-header-area {
    -fx-padding: -4 0 0 0;
    visibility: hidden ;
}
.shortcuts-editor .heading {
    -fx-font-size: 120%;
    -fx-font-weight: bold;
}
